<link rel="stylesheet" href="<%= assetPath('css/posts.css') %>">

<li id="post-<%=i._id%>">
    <%if(locals.user && locals.user.id==i.user.id){%>
    <small>
        <a class="delete-post-button" href="/posts/destroy/<%=i.id%>">del</a>
    </small>
    <%}%>
    <%=i.content%>
    <name>
        <%=i.user.name%>
    </name>
    <div>
        <div id="likes-<%=i._id%>">
            <div id="likes-number-<%=i._id%>">
                <%=i.likes.length%>
            </div>
            <form action="/likes/add-likes/<%=i._id%>" method="POST" id="likes-form-<%=i._id%>">
                <button type="submit"><i class="far fa-thumbs-up"></i></button>
            </form>
        </div>
        <%- include('_comments'); %>
    </div>
</li>