<link rel="stylesheet" href="<%= assetPath('css/users.css') %>">

<h1> <%=title%></h1>
<img src="<%=user.avatar%>" alt="<%= user.name%>" width="100">
<%if(locals.user.id==user_profile.id){%>
    <form action="/users/update/<%=user_profile.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your name"  value="<%=user_profile.name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=user_profile.email%>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <button type="submit">Update</button>
    </form>
<%}else{%>
    <p><%=user_profile.name%></p>
    <p><%=user_profile.email%></p>
<%}%>



       
